.carousal {
    width: 1000px;
    margin-left: 150px;
 }

 .card {
    border-style: double;
    border-width: 2px;
    width: 500px;
    margin: 50px 400px;
    padding: 20px 20px 20px 20px;
 }

 .btn_select {
     height: 30px;
     margin-top: 5px;
 }

 .alertbox {
     margin: 50px 250px 50px 200px;
 }

.itemImg {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.itemcard {
    margin-top: 50px;
}

.itemdiv {
    border-style: double;
    box-sizing: 1px;
    height: 300px;
}

.datediv {
    height: 300px;
    background-color: ghostwhite;
    padding-left: 20px;
}

.btn_proceed {
    width: 200px;
    margin-top: 30px;
    margin-left: 600px;
}

.choosen {
    margin: 30px 30px 30px 30px;
}

